h1,p { color: blue; 
	text-align: center;}


body { background-color: silver; color: white;
		text-align: center;  }

script { font-family: "Times New Roman", TImes, SansSerif }
ul { width: 350px;
   
   text-align: center;
   padding: auto;
   margin: auto; }

ol { width: 350px;
	text-align: center;
	padding: 12px;
	margin: auto; }

a:hover
{
	font-weight: bold;
}
